/* ==========================================================================
   TYPE
   - Meat
   - Headings
   - Media Query adjustments
   ========================================================================== */

/* Meat
   ========================================================================== */

p {           
    font-size: $fsp;
    line-height: $line-height; 
    
    // Phone
    @include media($small-screen) {
      font-size: $fs5;
    }
}

section > article > p:first-of-type {      
  font-size: $fs5; 
  margin-bottom: $line-height;
  // Phone
  @include media($small-screen) {
    font-size: $fs4;
  }
}

p + p {
  margin-bottom: $line-height;
}

/* Headings
   ========================================================================== */

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5 {
  font-family: $head;
}

h1,.h1 { 
  font-size: $fs1;
  line-height: 1.125em;
  margin-bottom: .375em;
}

h2,.h2 {      
  font-size: $fs2; 
  line-height: 1.333333333333em;
  margin-bottom: .666666666em;
} 

h3,.h3 {      
  font-size: $fs3; 
  line-height: 1em;
  margin-bottom: 1em;
}

h4,.h4 {      
  font-size: $fs4; 
  line-height: 1.142857142857143em;
  margin-bottom: 1.142857142857143em;
} 

h5,.h5 {      
  font-size: $fs5; 
  line-height: 1.3333333333333em;
  margin-bottom: 1.333333333333333em;
}

h6,.h6 {      
  font-size: $fs6; 
  line-height: $line-height;
} 

small {
  font-size: .75rem;
  line-height: 1rem;
  text-transform: uppercase;
}